.title-box-movive {
    overflow: hidden;
}
.h1-text h1, .h1-text h4 {
    margin: 0;
    color: #fff;
    font-size: 20px;
    background: #810016;
    text-align: center;
    padding: 10px 0;
    border-radius: 10px;
    line-height: 1.2;
}