.title-box-movive {
    overflow: hidden;
}
.h1-text h1, .h1-text h4 {
    margin: 10px;
    color: white;;;
    font-size: 30px;
    background: black;;;
    text-align: center;
    padding: 10px 0;
    border-radius: 10px;
    line-height: 1.2;
}